{% extends "base.html" %}
{% load extras %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <label>Welcome to your dashboard.</label>
    <a class="btn btn-outline-success bmt" href="{% url 'index' %}"> Create new order </a>
     <div class="container-fluid">
             {% if orders.count == 0 %}
                <label>You have no orders right now.</label>
             {% else %}
                  {% for o in orders %}
         {% if forloop.counter0|divisibleby:3 %}
         <div class="row">
             {% endif %}
             <div class ="col-sm-4">
                      <div class="card h-100">
                          <div class="card-body">
                          <h4 class="card-title text-center">Order {{ forloop.counter }}</h4>
                  {% for p in purchases|in_purchase:o.id %}
                    <!--  <label> Order {{ forloop.counter }}</label> -->
                  <label class="block">{{ p.product.name }}, {{p.product.price}} x {{ p.quantity }}</label>
                    {% endfor %}
                          </div>
                          </div>
                      </div>
                  {% endfor %}
             </div>
             {% endif %}
    </div>
{% endblock %}